Repository openshift/linuxptp-daemon, pull requests merged in 2020-10, with the labels that each got.

#22 Updating linuxptp-daemon builder & base images to be consistent with ART
  Dockerfile.rhel7
Labels: lgtm

#23 Bug 1892467: Make the metrics parser more robust
  pkg/daemon/metrics.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#24 Bug 1892724: Always replace the list of devices instead of appending.
  pkg/daemon/ptpdev.go
Labels: bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#20 Support multiple interfaces
  README.md
  cmd/main.go
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
Labels: lgtm
