Repository openshift/linuxptp-daemon, pull requests merged in 2021-08, with the labels that each got.

#49 Add gofmt and format go code
  Makefile
  hack/gofmt.sh
  pkg/daemon/daemon.go
Labels: lgtm

#48 Bug 1985773: Update interface handling
  pkg/daemon/config.go
  pkg/daemon/daemon.go
Labels: approved, lgtm, bugzilla/valid-bug, ok-to-test, bugzilla/severity-high

#50 Bug 1993854: add metrics for multi interface
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#52 Bug 1999185:Fixed parsing error
  pkg/daemon/metrics.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high
