Repository openshift/linuxptp-daemon, pull requests merged in 2023-03, with the labels that each got.

#128 update go19 and 4.13 base image
  Dockerfile
Labels: approved, lgtm

#125 OCPBUGS-8249: add support for multinode service for http moving from 4.13 to 4.12
  cmd/main.go
Labels: approved, lgtm, cherry-pick-approved, bugzilla/valid-bug, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#126 OCPBUGS-7829: Bug OCPBUGS-6088: Preserve iface ordering in ptpconfig
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
Labels: approved, lgtm, cherry-pick-approved, bugzilla/valid-bug, backport-risk-assessed, jira/severity-low, jira/valid-bug, jira/valid-reference
