Repository openshift/linuxptp-daemon, pull requests merged in 2023-08, with the labels that each got.

#171 OCPBUGS-17094: Allow customizing DPLL settings through e810 plugin
  addons/intel/e810.go
  pkg/daemon/daemon.go
  pkg/dpll/dpll.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#165 Bug OCPBUGS-15370: initial dockerfile changes for gpsd install
  Dockerfile.ocp
  requirements.in
  requirements.txt
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#175 Update dockerfile
  Dockerfile.art
Labels: approved, lgtm

#172 OCPBUGS-16220: Replace Ublox with direct call to default gpsd for monitoring and reduce CPU usage
  go.mod
  go.sum
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/metrics.go
  pkg/dpll/dpll.go
  pkg/event/event.go
  pkg/pmc/pmc.go
  pkg/ublox/ublox.go
  vendor/github.com/aneeshkp/go-gpsd/.gitignore
  vendor/github.com/aneeshkp/go-gpsd/LICENSE
  vendor/github.com/aneeshkp/go-gpsd/README.md
  vendor/github.com/aneeshkp/go-gpsd/gpsd.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#182 OCPBUGS-17470: GNSS state change is not captured by DPLL Netlink event listener
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/event/pubsub.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#181 OCPBUGS-17454: parse DPLL replies by type
  pkg/dpll-netlink/dpll-uapi.go
  pkg/dpll/dpll.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#177 Bug OCPBUGS-17146: fix clockClass
  pkg/event/event.go
  pkg/pmc/pmc.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#173 OCPBUGS-17479: Add scheduling to gpsd and gpspipe
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#183 OCPBUGS-17486: linuxptp-daemon-container stuck in CrashLoopBackOff upon deployment on GM config
  pkg/daemon/daemon.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/pubsub.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#176 Clean up Dockerfiles to match upstream and downstream configuration
  Dockerfile.ocp
  Dockerfile.rhel7
Labels: approved, lgtm

#187 Fixed crashloop and clock class thread hijacking by using channel
  pkg/daemon/daemon.go
  pkg/dpll/dpll.go
  pkg/event/event.go
  pkg/protocol/type.go
Labels: approved, lgtm

#184 match gpsd source to RHEL package release
  requirements.txt
Labels: approved, lgtm

#189 copy leap sec file to the right image
  Dockerfile
Labels: approved, lgtm

#179 OCPBUGS-17586: Get DPLL clock ID from card DSN
  addons/intel/e810.go
  pkg/daemon/daemon.go
  pkg/dpll/dpll.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#190 fix null pointer when updating clockClass
  pkg/event/event.go
Labels: approved, lgtm

#193 match commit SHA variable in Dockerfile to requirements.txt
  Dockerfile.art
Labels: approved, lgtm

#192 Fix mutex lock when locked
  pkg/dpll/dpll.go
Labels: approved, lgtm

#194 fix gpsd running again after exit
  pkg/daemon/gpsd.go
Labels: approved, lgtm

#195 fix holdover logic
  pkg/dpll/dpll.go
Labels: approved, lgtm

#196 OCPBUGS-17765: ptp clock is not locked in GM configuration
  pkg/daemon/daemon.go
  pkg/daemon/gpspipe.go
  pkg/daemon/metrics.go
  pkg/dpll/dpll.go
  pkg/event/event.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#197 Add gpsd lib with changes merged by original author
  go.mod
  go.sum
  pkg/daemon/gpsd.go
  vendor/github.com/stratoberry/go-gpsd/.gitignore
  vendor/github.com/stratoberry/go-gpsd/LICENSE
  vendor/github.com/stratoberry/go-gpsd/README.md
  vendor/github.com/stratoberry/go-gpsd/gpsd.go
  vendor/modules.txt
Labels: approved, lgtm

#198 OCPBUGS-17971: DPLL netlink API should retry sending events to event handler when send fails
  pkg/config/config.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/pubsub.go
  pkg/event/stats.go
  pkg/protocol/type.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#191 Changes for development build with rhel-9 base image and gpsd development package
  Dockerfile
  rpms/gpsd-minimal-3.25-1.el9_2.3.x86_64.rpm
  rpms/gpsd-minimal-clients-3.25-1.el9_2.3.x86_64.rpm
Labels: approved, lgtm

#201 Add unit test for linuxptp daemon
  Makefile
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/event/stats.go
Labels: approved, lgtm

#202 fix ublox tool testing
  pkg/ublox/ublox_test.go
Labels: approved, lgtm

#205 update to fix local docker build
  Dockerfile
  rpms/gpsd-minimal-3.25-1.el9_2.3.x86_64.rpm
  rpms/gpsd-minimal-clients-3.25-1.el9_2.3.x86_64.rpm
Labels: approved, lgtm
