Repository openshift/linuxptp-daemon, pull requests merged in 2023-12, with the labels that each got.

#245 OCPBUGS-24010: fixup node profile access from plugin
  pkg/daemon/daemon.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#241 [release 4.14] OCPBUGS-23982: nmea_status and clock_class metrics missing in 4.14 linuxptpdaemon
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/event_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#252 OCPBUGS-25682: False GM process with unknown interface appears after node reboot
  pkg/event/event.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#251 add .snyk file to temporarily ignore medium and low CWEs
  .snyk
Labels: approved, lgtm
