Repository openshift/linuxptp-daemon, pull requests merged in 2023-11, with the labels that each got.

#235 Add iface details for multiple cards
  pkg/config/config.go
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
  pkg/event/event.go
Labels: approved, lgtm

#234 dual ts2phc /dpll support for multi card T-GM
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/event/stats.go
  pkg/event/stats_test.go
Labels: approved, lgtm

#236 get hardware clockId for each DPLL
  addons/intel/e810.go
  pkg/daemon/daemon.go
Labels: approved, lgtm

#237 Fix PtpSettings nil-pointer
  addons/intel/e810.go
Labels: approved, lgtm

#226 OCPBUGS-20421: [release 4-13] concurrent map reading master offset map in linuxptpdaemon
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#240 get PhcId from ethtool
  pkg/daemon/daemon.go
  pkg/network/utils.go
Labels: approved, lgtm

#238 Add DPLL event subscription for multiple cards
  pkg/config/config.go
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/event/pubsub.go
  pkg/event/stats.go
Labels: approved, lgtm

#225 OCPBUGS-20413: [release 4-12] concurrent map reading master offset map in linuxptpdaemon
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#242 OCPBUGS-24043: nmea_status and clock_class metrics missing in 4.14 linuxptpdaemon
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/event_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#243 Fix master metrics interface names
  pkg/event/event.go
Labels: approved, lgtm
