Repository openshift/linuxptp-daemon, pull requests merged in 2023-09, with the labels that each got.

#204 OCPBUGS-17526: clock class is not set to 140 when DPLL is lost source and out of spec - from holdover
  pkg/config/config.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/dpll/dpll.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/event/stats.go
  pkg/protocol/type.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#206 updates to remove cachito and use released package and rhel9 base
  Dockerfile.art
  requirements.in
  requirements.txt
  setup.cfg
Labels: approved, lgtm

#208 OCPBUGS-18593: gpsd process is not recreated after killing it
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#209 OCPBUGS-18903: T-GM-STATUS not logged every sec when dpll and gnss events were not reported
  pkg/event/event.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#203 OCPBUGS-18270: Add readme for e810 plugin
  addons/intel/README.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#213 OCPBUGS-19345: ptp clock does not stay locked in GM configuration when threshold is changed in ptpconfig
  pkg/daemon/gpsd.go
  pkg/dpll/dpll.go
  pkg/event/event.go
  pkg/event/pubsub.go
  pkg/event/pubsub_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#218 Bug OCPBUGS-17513: pmc set boundary hops to 0 and clean up sockets
  pkg/pmc/pmc.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference
