Repository openshift/linuxptp-daemon, pull requests merged in 2023-06, with the labels that each got.

#143 Add ublx config to plugin
  addons/generic/generic.go
  addons/intel/e810.go
  pkg/daemon/daemon.go
  pkg/daemon/plugin.go
  pkg/plugin/plugin.go
Labels: approved, lgtm

#144 OCPBUGS-14681: fix clock class updates
  cmd/main.go
  pkg/config/config.go
  pkg/daemon/daemon.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#145 Add monitoring for all process and setting up GM State
  pkg/config/config.go
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/daemon/metrics.go
  pkg/daemon/process.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/event/stats.go
  pkg/gnss/gnss.go
  pkg/ublox/types.go
  pkg/ublox/ublox.go
Labels: approved, lgtm

#146 OCPBUGS-15413: [release-4.13] fix clock class updates
  cmd/main.go
  pkg/config/config.go
  pkg/daemon/daemon.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#149 OCPBUGS-15479: Fixup ptp process starting
  pkg/daemon/daemon.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#147 OCPBUGS-15429: [release-4.12] fix clock class updates
  cmd/main.go
  pkg/config/config.go
  pkg/daemon/daemon.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#150 CNF-7017: Add generic plugin logging
  addons/generic/generic.go
Labels: approved, lgtm, jira/valid-reference

#148 fix DPLL state comparison
  pkg/dpll/dpll.go
Labels: approved, lgtm
