Repository openshift/linuxptp-daemon, pull requests merged in 2023-07, with the labels that each got.

#151 compute clockType from ptp4lConfig
  pkg/daemon/config.go
  pkg/daemon/daemon.go
Labels: approved, lgtm

#152 BUG OCPBUGS-15584: leap-seconds.list file included as part of linuxptp-daemon container expired on June 28, 2023
  extra/leap-seconds.list
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#153 Bug OCPBUGS-15370: update Dockerfile.rhel7 with Dockerfile content
  Dockerfile
  Dockerfile.rhel7
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#142 CNF-8665: Update GM ClockClass and ClockQuality based on events
  go.mod
  go.sum
  pkg/daemon/daemon.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/pmc/pmc.go
  pkg/protocol/type.go
  vendor/github.com/facebook/time/LICENSE
  vendor/github.com/facebook/time/hostendian/hostendian.go
  vendor/github.com/facebook/time/ptp/protocol/doc.go
  vendor/github.com/facebook/time/ptp/protocol/management.go
  vendor/github.com/facebook/time/ptp/protocol/management_client.go
  vendor/github.com/facebook/time/ptp/protocol/management_tlvs.go
  vendor/github.com/facebook/time/ptp/protocol/protocol.go
  vendor/github.com/facebook/time/ptp/protocol/ptp4l.go
  vendor/github.com/facebook/time/ptp/protocol/tlvs.go
  vendor/github.com/facebook/time/ptp/protocol/types.go
  vendor/github.com/facebook/time/ptp/protocol/unicast.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-reference

#156 bug fix with metrics and logs
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/dpll/dpll.go
  pkg/event/event.go
  pkg/ublox/ublox.go
Labels: approved, lgtm

#157 Fix termination of process on ptpconfig delete
  pkg/config/config.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/daemon/process.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
Labels: approved, lgtm

#160 OCPBUGS-16188:Linuxptp-daemon crashing due to index out of range doing DPLL monitoring
  pkg/daemon/gpsd.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/ublox/ublox.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#161 revert changes to Dockerfile.rhel7
  Dockerfile.rhel7
Labels: approved, lgtm

#164 CNF-9146: Add support for setting pins
  addons/intel/e810.go
Labels: approved, lgtm, jira/valid-reference

#163 initial cachito configuration for linuxptp-daemon
  requirements.in
  requirements.txt
  setup.cfg
Labels: approved, lgtm

#170 Update OWNERS
  OWNERS
Labels: approved, lgtm

#169 Only update nodeptpdevice when hwconfigs change
  cmd/main.go
  pkg/daemon/daemon.go
Labels: approved, lgtm

#168 Fix ts2phc.nmea_serialport port to be read from ptpconfig for gpsd
  Dockerfile
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/dpll/dpll.go
  pkg/event/event.go
Labels: approved, lgtm
