Repository openshift/linuxptp-daemon, pull requests merged in 2023-10, with the labels that each got.

#221 OCPBUGS-19721: Linuxptp daemon overhead ~2x higher with 4.14 operator
  pkg/event/event.go
  pkg/event/pubsub.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#220 [release-4.13] Bug OCPBUGS-20017: pmc set boundary hops to 0 and clean up sockets
  pkg/pmc/pmc.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#227 OCPBUGS-20420 : [master]concurrent map reading master offset map in linuxptpdaemon
  pkg/daemon/metrics.go
Labels: approved, lgtm

#224 OCPBUGS-20183: PTP4L output in T-GM
  pkg/event/event.go
  pkg/event/event_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#232 OCPBUGS-22278: Dpll update in RHEL 9.2 will not generate any DPLL events
  pkg/dpll-netlink/dpll-uapi.go
  pkg/dpll-netlink/dpll.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#230 OCPBUGS-20514: PTP HW Clock Class after disabling NMEA sentences set to FREERUN
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/metrics.go
  pkg/dpll/dpll.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/pmc/pmc.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#231 [release-4.14] OCPBUGS-20495: concurrent map reading master offset map in linuxptpdaemon
  pkg/daemon/metrics.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
