Repository openshift/linuxptp-daemon, pull requests merged in 2024-07, with the labels that each got.

#326 OCPBUGS-35804: Fix ublox cpu spike
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/ublox/ublox.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#327 Update dockerfile to use 4.17 base image
  Dockerfile
Labels: approved, lgtm

#329 assign clock IDs to SyncE devices
  addons/intel/e810.go
  go.mod
  go.sum
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_internal_test.go
  pkg/daemon/testdata/synce-profile-bad-order.yaml
  pkg/daemon/testdata/synce-profile-custom-id.yaml
  pkg/daemon/testdata/synce-profile-dual.yaml
  pkg/daemon/testdata/synce-profile-no-ifaces.yaml
  pkg/daemon/testdata/synce-profile.yaml
  vendor/github.com/bigkevmcd/go-configparser/LICENSE
  vendor/github.com/bigkevmcd/go-configparser/README.md
  vendor/github.com/bigkevmcd/go-configparser/TODO.md
  vendor/github.com/bigkevmcd/go-configparser/chainmap/chainmap.go
  vendor/github.com/bigkevmcd/go-configparser/configparser.go
  vendor/github.com/bigkevmcd/go-configparser/interpolation.go
  vendor/github.com/bigkevmcd/go-configparser/methods.go
  vendor/github.com/bigkevmcd/go-configparser/options.go
  vendor/github.com/bigkevmcd/go-configparser/section.go
  vendor/modules.txt
Labels: approved, lgtm

#331 [release-4.15] OCPBUGS-36842: Fix ublox cpu spike
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/ublox/ublox.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#334 [release-4.14] OCPBUGS-37204: Fix ublox cpu spike
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/ublox/ublox.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#335 OCPBUGS-37042: prevent writing uninitialized TimePropertiesDS
  cmd/main.go
  go.mod
  pkg/daemon/daemon.go
  pkg/daemon/daemon_internal_test.go
  pkg/daemon/gpsd.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/leap/leap-file.go
  pkg/leap/leap-file_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#336 OCPBUGS-35587: T-GM - ts2phc process restart doesn't update PTP syncState when the process recovered
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
  pkg/event/event.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#339 OCPBUGS-37525: fix ci/prow/security job
  .snyk
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#325 OCPBUGS-36201: implement leap event handling
  pkg/daemon/daemon.go
  pkg/daemon/daemon_internal_test.go
  pkg/leap/leap-file.go
  pkg/leap/leap-file_test.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#342 CNF12625: fix Leap second PMC command time window
  pkg/leap/leap-file.go
Labels: approved, lgtm

#341 [release-4.16] OCPBUGS-37043: prevent writing uninitialized TimePropertiesDS
  cmd/main.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/event/event.go
  pkg/event/event_test.go
  pkg/leap/leap-file.go
  pkg/leap/leap-file_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#338 parse synce logs to create metrics and events
  Dockerfile
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/daemon/metrics.go
  pkg/event/event.go
  pkg/synce/synce.go
  pkg/synce/synce_test.go
Labels: approved, lgtm
