Repository openshift/linuxptp-daemon, pull requests merged in 2024-05, with the labels that each got.

#301 [release-4.14] OCPBUGS-32441: Ublox Reboot fix and reading Offset from Ublox and DPLL
  addons/intel/README.md
  addons/intel/e810.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/dpll-netlink/dpll-uapi.go
  pkg/dpll-netlink/dpll.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/pubsub.go
  pkg/event/stats.go
  pkg/ublox/ublox.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#304 OCPBUGS-33524: PTP Boundary HA configuration cannot handle spaced empty Phc2SysOpts and ptp4lOpts with
  pkg/daemon/daemon.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#306 OCPBUGS-34198: Revert "OCPBUGS-33524: PTP Boundary HA configuration cannot handle spaced empty Phc2SysOpts and ptp4lOpts with"
  pkg/daemon/daemon.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#302 [release-4.15] OCPBUGS-32305: fix missing openshift_ptp_process_status metric initial install
  Dockerfile
  go.mod
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-low, jira/valid-bug, jira/valid-reference
