Repository openshift/linuxptp-daemon, pull requests merged in 2024-04, with the labels that each got.

#289 OCPBUGS-31370: fix ts2phc clock id from offset output and replace it with interfacename -Followup for event framework
  pkg/daemon/daemon.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#290 OCPBUGS-31600: gnss does not sync with ptp-operator.v4.15.0-202403281339
  pkg/daemon/gpsd.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#294 [release-4.15] OCPBUGS-31633: refactor daemon to keep private variables
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#296 OCPBUGS-31602: interfaces for deleted ptpconfig profiles still appear in metrics- process are not getting terminated
  pkg/daemon/config.go
  pkg/daemon/gpsd.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#298 OCPBUGS-31706: ubxtool cold boot has no effect on logs and metrics
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/pubsub.go
  pkg/event/stats.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#295 [release-4.14] OCPBUGS-31649: refactor daemon to keep private variables
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#299 [release-4.15] OCPBUGS-32140: ubxtool cold boot has no effect on logs and metrics
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/pubsub.go
  pkg/event/stats.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference
