Repository openshift/linuxptp-daemon, pull requests merged in 2024-03, with the labels that each got.

#253 OCPBUGS-17422: switch to continuously polling NAV-CLOCK
  addons/intel/e810.go
  pkg/daemon/gpsd.go
  pkg/ublox/ublox.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#269 [release-4.13] OCPBUGS-26659: Update jaypipes/ghw package and add .snyk
  .snyk
  go.mod
  go.sum
  vendor/github.com/jaypipes/ghw/README.md
  vendor/github.com/jaypipes/ghw/doc.go
  vendor/github.com/jaypipes/ghw/pkg/block/block.go
  vendor/github.com/jaypipes/ghw/pkg/block/block_linux.go
  vendor/github.com/jaypipes/ghw/pkg/block/block_windows.go
  vendor/github.com/jaypipes/ghw/pkg/cpu/cpu.go
  vendor/github.com/jaypipes/ghw/pkg/cpu/cpu_linux.go
  vendor/github.com/jaypipes/ghw/pkg/gpu/gpu_windows.go
  vendor/github.com/jaypipes/ghw/pkg/linuxpath/path_linux.go
  vendor/github.com/jaypipes/ghw/pkg/memory/memory_linux.go
  vendor/github.com/jaypipes/ghw/pkg/net/net.go
  vendor/github.com/jaypipes/ghw/pkg/net/net_linux.go
  vendor/github.com/jaypipes/ghw/pkg/pci/pci_linux.go
  vendor/github.com/jaypipes/ghw/pkg/util/util.go
  vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#274 Force stable sort of ptp configs
  Dockerfile
  pkg/daemon/daemon.go
Labels: approved, lgtm

#273 OCPBUGS-29256: refactor daemon to keep private variables
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#272 add jzding to owners list
  OWNERS
Labels: approved, lgtm

#270 [release-4.12] OCPBUGS-28500: Update jaypipes/ghw package and add .snyk
  .snyk
  go.mod
  go.sum
  vendor/github.com/jaypipes/ghw/README.md
  vendor/github.com/jaypipes/ghw/doc.go
  vendor/github.com/jaypipes/ghw/pkg/block/block.go
  vendor/github.com/jaypipes/ghw/pkg/block/block_linux.go
  vendor/github.com/jaypipes/ghw/pkg/block/block_windows.go
  vendor/github.com/jaypipes/ghw/pkg/cpu/cpu.go
  vendor/github.com/jaypipes/ghw/pkg/cpu/cpu_linux.go
  vendor/github.com/jaypipes/ghw/pkg/gpu/gpu_windows.go
  vendor/github.com/jaypipes/ghw/pkg/linuxpath/path_linux.go
  vendor/github.com/jaypipes/ghw/pkg/memory/memory_linux.go
  vendor/github.com/jaypipes/ghw/pkg/net/net.go
  vendor/github.com/jaypipes/ghw/pkg/net/net_linux.go
  vendor/github.com/jaypipes/ghw/pkg/pci/pci_linux.go
  vendor/github.com/jaypipes/ghw/pkg/util/util.go
  vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#275 Add ha profile reader for phc2sys options to support PTP HA
  go.mod
  go.sum
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
Labels: approved, lgtm

#277 refactor HA profile to simplify damon
  pkg/daemon/daemon.go
Labels: approved, lgtm

#276 CNF-11612: Add phase offset pin filter doc
  addons/intel/README.md
Labels: approved, lgtm, jira/valid-reference

#279 OCPBUGS-30856: Fix DPLL offset on holdover and freerun
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#280 Add HA metrics to PTP HA
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/daemon/metrics.go
Labels: approved, lgtm

#282 PTPHA: update message tag to actual config file
  pkg/daemon/daemon.go
Labels: approved, lgtm

#285 Fix ha profile to log all profiles
  pkg/daemon/daemon.go
Labels: approved, lgtm

#283 OCPBUGS-30810: add DPLL phase offset
  addons/intel/README.md
  addons/intel/e810.go
  pkg/daemon/daemon.go
  pkg/dpll-netlink/dpll-uapi.go
  pkg/dpll-netlink/dpll.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#286 OCPBUGS-31422: PTP container logs lack severity information
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#288 OCPBUGS-31370: fix ts2phc clock id from offset output and replace it with interfacename
  pkg/config/config.go
  pkg/daemon/config.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/daemon/gpsd.go
  pkg/daemon/metrics.go
  pkg/network/utils.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference
