Repository openshift/linuxptp-daemon, pull requests merged in 2024-06, with the labels that each got.

#303 OCPBUGS-33597: Add automatic leap file update
  addons/intel/README.md
  cmd/main.go
  pkg/config/config.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/leap/leap-file.go
  pkg/leap/leap-file_test.go
  pkg/leap/testdata/leap-seconds.list
  pkg/leap/testdata/leap-seconds.list.rendered
  pkg/ublox/ublox.go
  pkg/ublox/ublox_test.go
  vendor/github.com/facebook/time/leaphash/leaphash.go
  vendor/modules.txt
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#309 OCPBUGS-34804: fix leap file expiration and update times
  pkg/leap/leap-file.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#312 OCPBUGS-35029: linuxptp daemon taking almost 2 core with leap file updates
  addons/intel/README.md
  addons/intel/e810.go
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/leap/leap-file.go
  pkg/ublox/ublox.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-critical, jira/valid-reference

#317 bump golang to 1.22
  Dockerfile
Labels: approved, lgtm

#318 [release-4.15] OCPBUGS-35872: leap-seconds.list file included as part of linuxptp-daemon container expired on June 28, 2024
  extra/leap-seconds.list
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference
