Repository openshift/linuxptp-daemon, pull requests merged in 2025-05, with the labels that each got.

#435 [release-4.16] OCPBUGS-55281: update event to fix T-GM regression failure
  pkg/event/event.go
  pkg/event/event_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#434 OCPBUGS-55487: [release-4.15] OCPBUGS-55171: Set pmc for TimeTraceable change
  pkg/event/event.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#437 OCPBUGS-55740: [release-4.17] fix grandmaster settings
  pkg/event/event.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#438 [release-4.16] OCPBUGS-55767: No event when gpsd process restarted
  pkg/daemon/daemon.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#439 Revert "OCPBUGS-55740: [release-4.17] fix grandmaster settings"
  pkg/event/event.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#432 OCPBUGS-55466: [release-4.15] keep in holdover until locked-holdover-acquired
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#433 OCPBUGS-55467: [release-4.14] keep in holdover until locked-holdover-acquired
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#441 [release-4.14] OCPBUGS-56144: Set pmc for TimeTraceable change
  pkg/event/event.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#444 Upstream to downstream staging main
  .github/workflows/check-go-mod-vendor.yml
  go.mod
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
  pkg/event/event.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, lgtm

#445 [release-4.19] OCPBUGS-56423: Fix interface name for summary metrics
  go.mod
  pkg/daemon/daemon.go
  pkg/daemon/metrics.go
  pkg/event/event.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference
