Repository openshift/linuxptp-daemon, pull requests merged in 2025-01, with the labels that each got.

#379 OCPBUGS-45308: PTP holdover time should be kept for 4 hours
  addons/intel/e810.go
  pkg/daemon/daemon.go
  pkg/daemon/gpspipe.go
  pkg/debug/debug.go
  pkg/debug/debug_test.go
  pkg/dpll/dpll.go
  pkg/dpll/dpll_test.go
  pkg/event/event.go
  pkg/event/event_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-critical, jira/valid-reference

#375 OCPBUGS-43682: Handle up/down event metrics from gpsd and gpspipe
  pkg/daemon/daemon.go
  pkg/daemon/gpsd.go
  pkg/daemon/gpspipe.go
  pkg/daemon/process.go
  pkg/dpll/dpll.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#388 OCPBUGS-47754: [release-4.17] Fix fips complaint issue to enable fips support
  hack/build.sh
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#389 OCPBUGS-47756: [release-4.15] Fix fips complaint issue to enable fips support
  hack/build.sh
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#390 [release-4.14] OCPBUGS-47757: Fix fips complaint issue to enable fips support
  hack/build.sh
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
